mat-form-field {
  width: 100%;
}

button.mat-button {
  background-color: #2980B9; /* Accent1 */
  color: #FFFFFF; /* Font Color */
}

button.mat-button:hover {
  background-color: #2ECC71; /* Accent2 */
}