
.container {
    margin-left: 7.5vw;
  }
.container-flex {
    display: flex;
    justify-content: right;
    margin-right: 7.5vw;
  }

.reset-btn:hover{
  background-color:firebrick;
  color:white;
}

.sort-btn:hover{
  background-color:darkgreen;
  color:white;
}
  
  button {
    margin-right: 10px;
  }

.explanation {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 7.5vw;
    margin-left: 7.5vw;
  }

  .counters {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 7.5vw;
    margin-left: 7.5vw;
  }