.kanban-board {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.kanban-column {
  width: 30%;
  border: 1px solid #444;
  border-radius: 15px;
}

.kanban-column-header {
  background-color: #0A3D62; /* Primary1 */
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  color: #FFFFFF; /* Font Color */
}

.kanban-tasks {
  padding: 10px;
}

.kanban-task {
  margin-bottom: 10px;
  margin-right: 10px;
  min-width: 10vw;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #1B4F72; /* Primary2 */
  color: #FFFFFF; /* Font Color */
}